@model Covid19Tester.Models.Person

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10" hidden>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CprNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CprNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestResultat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestResultat)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id, cprNumber = Model.CprNumber }) |
    <a asp-action="Index">Back to List</a>
</div>
